.jumbotron {
  background-color: #edde11;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: #1f26ed;
  color: white; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #edde11;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
