$yellow:#edde11;
$red:#db2c2c;
$green:#15b015;
$blue:#1f26ed;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

.btn {
    background-color: $blue;
    color: white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 90%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;

}

.tab-content {
    padding-top: 10px;
}